<h1>Employees</h1>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">Frist Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Salary</th>
      <th scope="col">DOB</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mahendra</td>
      <td>Hati</td>
      <td>50,000</td>
      <td>08-06-1997</td>
      <td>mahendrahati@gmail.com</td>
      <td>Software Engineer</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Biswajit</td>
      <td>Jena</td>
      <td>10,000</td>
      <td>09-05-1999</td>
      <td>biswajit@gmail.com</td>
      <td>HR</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Patra</td>
      <td>70,000</td>
      <td>07-09-2000</td>
      <td>Larry@gmail.com</td>
      <td>Manager</td>
      
    </tr>
  </tbody>
</table>
